

.tiptap {
  ul > li {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    &>label {
      display: flex;
      padding-top: 2px;
    }
    &>div {
      line-height: 1.5;
    }
    &[data-checked=true] {
      text-decoration-line: line-through;
    }
  }
}