@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 30% 98%;
    --foreground: 225 71% 3%;
    --muted: 225 7% 95%;
    --muted-foreground: 225 2% 31%;
    --popover: 225 30% 98%;
    --popover-foreground: 225 71% 3%;
    --card: 225 30% 98%;
    --card-foreground: 225 71% 3%;
    --border: 225 13% 91%;
    --input: 225 13% 91%;
    --primary: 225 79% 74%;
    --primary-foreground: 225 79% 14%;
    --secondary: 225 19% 82%;
    --secondary-foreground: 225 19% 22%;
    --accent: 225 25% 75%;
    --accent-foreground: 225 25% 15%;
    --destructive: 17 81% 43%;
    --destructive-foreground: 0 0% 100%;
    --ring: 225 79% 74%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 225 79% 74%;
    --primary-foreground: 225 79% 14%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83;
    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

	html[data-theme="purple"] {
		&:root {
      --background: 266 45% 99%;
      --foreground: 266 60% 1%;
      --muted: 236 22% 85%;
      --muted-foreground: 236 1% 26%;
      --popover: 266 45% 99%;
      --popover-foreground: 266 60% 1%;
      --card: 266 45% 99%;
      --card-foreground: 266 60% 1%;
      --border: 266 12% 94%;
      --input: 266 12% 94%;
      --primary: 266 74% 47%;
      --primary-foreground: 0 0% 100%;
      --secondary: 236 74% 47%;
      --secondary-foreground: 0 0% 100%;
      --accent: 296 74% 47%;
      --accent-foreground: 0 0% 100%;
      --destructive: 20 95% 22%;
      --destructive-foreground: 20 95% 82%;
      --ring: 266 74% 47%;
      --radius: 0.5rem;
      --sidebar-background: 266 45% 99%;
      --sidebar-foreground: 266 60% 1%;
      --sidebar-primary: 266 74% 47%;
      --sidebar-primary-foreground: 0 0% 100%;
      --sidebar-accent: 296 74% 47%;
      --sidebar-accent-foreground: 0 0% 100%;
      --sidebar-border: 266 12% 94%;
      --sidebar-ring: 346.8 77.2% 49.8%;
    }

    &.dark {
      --background: 266 56% 2%;
      --foreground: 266 19% 99%;
      --muted: 236 22% 15%;
      --muted-foreground: 236 1% 74%;
      --popover: 266 56% 2%;
      --popover-foreground: 266 19% 99%;
      --card: 266 56% 2%;
      --card-foreground: 266 19% 99%;
      --border: 266 12% 10%;
      --input: 266 12% 10%;
      --primary: 266 74% 47%;
      --primary-foreground: 0 0% 100%;
      --secondary: 236 74% 47%;
      --secondary-foreground: 0 0% 100%;
      --accent: 296 74% 47%;
      --accent-foreground: 0 0% 100%;
      --destructive: 20 95% 45%;
      --destructive-foreground: 0 0% 100%;
      --ring: 266 74% 47%;
      --sidebar-background: 266 56% 2%;
      --sidebar-foreground: 266 19% 99%;
      --sidebar-primary: 266 74% 47%;
      --sidebar-primary-foreground: 0 0% 100%;
      --sidebar-accent: 296 74% 47%;
      --sidebar-accent-foreground: 0 0% 100%;
      --sidebar-border: 266 12% 10%;
      --sidebar-ring: 266 74% 47%;
    }
	}

	html[data-theme="rose"] {
		&:root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;
      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;
      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;
      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;
      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --primary: 346.8 77.2% 49.8%;
      --primary-foreground: 355.7 100% 97.3%;
      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;
      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;
      --ring: 346.8 77.2% 49.8%;
      --radius: 0.5rem;
      --sidebar-background: 0 0% 100%;
      --sidebar-foreground: 240 10% 3.9%;
      --sidebar-primary: 346.8 77.2% 49.8%;
      --sidebar-primary-foreground: 355.7 100% 97.3%;
      --sidebar-accent: 240 4.8% 95.9%;
      --sidebar-accent-foreground: 240 5.9% 10%;
      --sidebar-border: 240 5.9% 90%;
      --sidebar-ring: 346.8 77.2% 49.8%;
    }

    &.dark {
      --background: 20 14.3% 4.1%;
      --foreground: 0 0% 95%;
      --muted: 0 0% 15%;
      --muted-foreground: 240 5% 64.9%;
      --popover: 0 0% 9%;
      --popover-foreground: 0 0% 95%;
      --card: 24 9.8% 10%;
      --card-foreground: 0 0% 95%;
      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --primary: 346.8 77.2% 49.8%;
      --primary-foreground: 355.7 100% 97.3%;
      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;
      --accent: 12 6.5% 15.1%;
      --accent-foreground: 0 0% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 85.7% 97.3%;
      --ring: 346.8 77.2% 49.8%;
      --sidebar-background: 20 14.3% 4.1%;
      --sidebar-foreground: 0 0% 95%;
      --sidebar-primary: 346.8 77.2% 49.8%;
      --sidebar-primary-foreground: 355.7 100% 97.3%;
      --sidebar-accent: 12 6.5% 15.1%;
      --sidebar-accent-foreground: 0 0% 98%;
      --sidebar-border: 240 3.7% 15.9%;
      --sidebar-ring: 346.8 77.2% 49.8%;
    }
	}

	html[data-theme="midnight"] {
		&:root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;
      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;
      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;
      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;
      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --primary: 220.47 98.26% 36.08%;
      --primary-foreground: 210 40% 98%;
      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;
      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;
      --destructive: 0 92.99% 56.11%;
      --destructive-foreground: 210 40% 98%;
      --ring: 220.67 97.83% 36.08%;
      --radius: 0.5rem;
      --sidebar-background: 0 0% 100%;
      --sidebar-foreground: 222.2 84% 4.9%;
      --sidebar-primary: 220.47 98.26% 36.08%;
      --sidebar-primary-foreground: 210 40% 98%;
      --sidebar-accent: 210 40% 96.1%;
      --sidebar-accent-foreground: 222.2 47.4% 11.2%;
      --sidebar-border: 214.3 31.8% 91.4%;
      --sidebar-ring: 220.67 97.83% 36.08%;
    }
  
    &.dark {
      --background: 240 13.73% 10%;
      --foreground: 229.76 31.78% 74.71%;
      --muted: 232.5 15.44% 18.32%;
      --muted-foreground: 233.79 11.37% 50%;
      --popover: 234.55 17.46% 12.35%;
      --popover-foreground: 234 12.4% 52.55%;
      --card: 234.55 17.46% 12.35%;
      --card-foreground: 229.76 31.78% 74.71%;
      --border: 232.5 15.38% 30.59%;
      --input: 232 20% 14.71%;
      --primary: 0 0% 82.75%;
      --primary-foreground: 0 0% 20%;
      --secondary: 225.45 71.22% 72.75%;
      --secondary-foreground: 234.55 17.46% 12.35%;
      --accent: 234.55 17.83% 9.47%;
      --accent-foreground: 0 0% 82.75%;
      --destructive: 1.58 47.5% 52.94%;
      --destructive-foreground: 210 40% 98.04%;
      --ring: 225.45 71.22% 72.75%;
      --sidebar-background: 240 13.73% 10%;
      --sidebar-foreground: 229.76 31.78% 74.71%;
      --sidebar-primary: 0 0% 82.75%;
      --sidebar-primary-foreground: 0 0% 20%;
      --sidebar-accent: 234.55 17.83% 9.47%;
      --sidebar-accent-foreground: 0 0% 82.75%;
      --sidebar-border: 232.5 15.38% 30.59%;
      --sidebar-ring: 225.45 71.22% 72.75%;
    }
	}

  html[data-theme="coffee"] {
    &:root {
      --background: 28 44% 99%;
      --foreground: 28 55% 4%;
      --muted: 28 20% 85%;
      --muted-foreground: 28 10% 34%;
      --popover: 28 44% 98%;
      --popover-foreground: 28 55% 3%;
      --card: 28 44% 98%;
      --card-foreground: 28 55% 3%;
      --border: 28 12% 90%;
      --input: 28 12% 90%;
      --primary: 28 42% 54%;
      --primary-foreground: 0 0% 0%;
      --secondary: 28 2% 82%;
      --secondary-foreground: 28 2% 22%;
      --accent: 28 2% 82%;
      --accent-foreground: 28 2% 22%;
      --destructive: 7 97% 21%;
      --destructive-foreground: 7 97% 81%;
      --ring: 28 42% 54%;
      --radius: 0.5rem;
    }
  
    &.dark {
      --background: 28 55% 3%;
      --foreground: 28 19% 97%;
      --muted: 28 20% 15%;
      --muted-foreground: 28 10% 66%;
      --popover: 28 55% 4%;
      --popover-foreground: 28 19% 98%;
      --card: 28 55% 4%;
      --card-foreground: 28 19% 98%;
      --border: 28 12% 14%;
      --input: 28 12% 14%;
      --primary: 28 42% 54%;
      --primary-foreground: 0 0% 0%;
      --secondary: 28 6% 15%;
      --secondary-foreground: 28 6% 75%;
      --accent: 28 6% 15%;
      --accent-foreground: 28 6% 75%;
      --destructive: 7 97% 59%;
      --destructive-foreground: 0 0% 100%;
      --ring: 28 42% 54%;

      --sidebar-background: 28 55% 3%;
      --sidebar-foreground: 28 19% 97%;
      --sidebar-primary: 240 5.9% 10%;
      --sidebar-primary-foreground: 0 0% 0%;
      --sidebar-accent: 240 4.8% 95.9%;
      --sidebar-accent-foreground: 240 5.9% 10%;
      --sidebar-border: 220 13% 91%;
      --sidebar-ring: 217.2 91.2% 59.8%;
    }
  }

  html[data-theme="green"] {
    &:root {
      --background: 125 30% 98%;
      --foreground: 125 76% 1%;
      --muted: 245 12% 90%;
      --muted-foreground: 245 12% 36%;
      --popover: 125 30% 98%;
      --popover-foreground: 125 76% 1%;
      --card: 125 30% 98%;
      --card-foreground: 125 76% 1%;
      --border: 125 9% 88%;
      --input: 125 9% 88%;
      --primary: 170.11 100% 17.84%;
      --primary-foreground: 0 0% 100%;
      --secondary: 68.52 81.48% 42.35%;
      --secondary-foreground: 0 0% 100%;
      --accent: 170.11 32.63% 81.73%;
      --accent-foreground: 0 0% 9%;
      --destructive: 2 80% 43%;
      --destructive-foreground: 0 0% 100%;
      --ring: 125 41% 16%;
      --radius: 0.5rem;
      --sidebar-background: 0 0% 98%;
      --sidebar-foreground: 240 5.3% 26.1%;
      --sidebar-primary: 240 5.9% 10%;
      --sidebar-primary-foreground: 0 0% 98%;
      --sidebar-accent: 240 4.8% 95.9%;
      --sidebar-accent-foreground: 240 5.9% 10%;
      --sidebar-border: 220 13% 91%;
      --sidebar-ring: 217.2 91.2% 59.8%;
    }
  
    &.dark {
      --background: 125 32% 3%;
      --foreground: 125 27% 98%;
      --muted: 245 12% 10%;
      --muted-foreground: 245 12% 64%;
      --popover: 125 32% 3%;
      --popover-foreground: 125 27% 98%;
      --card: 125 32% 3%;
      --card-foreground: 125 27% 98%;
      --border: 125 9% 12%;
      --input: 125 9% 12%;
      --primary: 170.11 100% 17.84%;
      --primary-foreground: 0 0% 100%;
      --secondary: 68.52 81.48% 42.35%;
      --secondary-foreground: 0 0% 100%;
      --accent: 170.32 89.21% 7.32%;
      --accent-foreground: 0 0% 100%;
      --destructive: 2 80% 50%;
      --destructive-foreground: 0 0% 100%;
      --ring: 125 41% 16%;
      --sidebar-background: 125 32% 3%;
      --sidebar-foreground: 125 27% 98%;
      --sidebar-primary: 170.11 100% 17.84%;
      --sidebar-primary-foreground: 0 0% 100%;
      --sidebar-accent: 170.32 89.21% 7.32%;
      --sidebar-accent-foreground: 0 0% 100%;
      --sidebar-border: 125 9% 12%;
      --sidebar-ring: 125 41% 16%;
    }
  }

  html[data-theme="zinc"] {
    &:root {
      --background: 218 33% 100%;
      --foreground: 218 50% 1%;
      --muted: 218 23% 88%;
      --muted-foreground: 218 8% 32%;
      --popover: 0 0% 99%;
      --popover-foreground: 218 50% 0%;
      --card: 0 0% 99%;
      --card-foreground: 218 50% 0%;
      --border: 218 2% 90%;
      --input: 218 2% 90%;
      --primary: 218 19% 27%;
      --primary-foreground: 218 19% 87%;
      --secondary: 218 3% 86%;
      --secondary-foreground: 218 3% 26%;
      --accent: 218 3% 86%;
      --accent-foreground: 218 3% 26%;
      --destructive: 5 98% 36%;
      --destructive-foreground: 5 98% 96%;
      --ring: 218 19% 27%;
      --radius: 0.5rem;
      --sidebar-background: 218 33% 100%;
      --sidebar-foreground: 218 50% 1%;
      --sidebar-primary: 218 19% 27%;
      --sidebar-primary-foreground: 218 19% 87%;
      --sidebar-accent: 218 3% 86%;
      --sidebar-accent-foreground: 218 3% 26%;
      --sidebar-border: 218 2% 90%;
      --sidebar-ring: 218 19% 27%;
    }
  
    &.dark {
      --background: 218 36% 3%;
      --foreground: 218 33% 97%;
      --muted: 218 23% 12%;
      --muted-foreground: 218 8% 68%;
      --popover: 218 36% 4%;
      --popover-foreground: 218 33% 98%;
      --card: 218 36% 4%;
      --card-foreground: 218 33% 98%;
      --border: 218 2% 13%;
      --input: 218 2% 13%;
      --primary: 218 19% 27%;
      --primary-foreground: 218 19% 87%;
      --secondary: 218 10% 11%;
      --secondary-foreground: 218 10% 71%;
      --accent: 218 10% 11%;
      --accent-foreground: 218 10% 71%;
      --destructive: 5 98% 56%;
      --destructive-foreground: 0 0% 100%;
      --ring: 218 19% 27%;
      --sidebar-background: 218 36% 3%;
      --sidebar-foreground: 218 33% 97%;
      --sidebar-primary: 218 19% 27%;
      --sidebar-primary-foreground: 218 19% 87%;
      --sidebar-accent: 218 10% 11%;
      --sidebar-accent-foreground: 218 10% 71%;
      --sidebar-border: 218 2% 13%;
      --sidebar-ring: 218 19% 27%;
    }
  }

  html[data-theme="orange"] {
    &:root {
      --background: 0 0% 100%;
      --foreground: 20 14.3% 4.1%;
      --muted: 60 4.8% 95.9%;
      --muted-foreground: 25 5.3% 44.7%;
      --popover: 0 0% 100%;
      --popover-foreground: 20 14.3% 4.1%;
      --card: 0 0% 100%;
      --card-foreground: 20 14.3% 4.1%;
      --border: 20 5.9% 90%;
      --input: 20 5.9% 90%;
      --primary: 24.6 95% 53.1%;
      --primary-foreground: 60 9.1% 97.8%;
      --secondary: 60 4.8% 95.9%;
      --secondary-foreground: 24 9.8% 10%;
      --accent: 60 4.8% 95.9%;
      --accent-foreground: 24 9.8% 10%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 60 9.1% 97.8%;
      --ring: 24.6 95% 53.1%;
      --radius: 0.5rem;
      --sidebar-background:0 0% 100%;
      --sidebar-foreground: 20 14.3% 4.1%;
      --sidebar-primary: 24.6 95% 53.1%;
      --sidebar-primary-foreground: 60 9.1% 97.8%;
      --sidebar-accent: 60 4.8% 95.9%;
      --sidebar-accent-foreground: 24 9.8% 10%;
      --sidebar-border: 20 5.9% 90%;
      --sidebar-ring: 24.6 95% 53.1%;
    }
  
    &.dark {
      --background: 20 14.3% 4.1%;
      --foreground: 60 9.1% 97.8%;
      --muted: 12 6.5% 15.1%;
      --muted-foreground: 24 5.4% 63.9%;
      --popover: 20 14.3% 4.1%;
      --popover-foreground: 60 9.1% 97.8%;
      --card: 20 14.3% 4.1%;
      --card-foreground: 60 9.1% 97.8%;
      --border: 12 6.5% 15.1%;
      --input: 12 6.5% 15.1%;
      --primary: 20.5 90.2% 48.2%;
      --primary-foreground: 60 9.1% 97.8%;
      --secondary: 12 6.5% 15.1%;
      --secondary-foreground: 60 9.1% 97.8%;
      --accent: 12 6.5% 15.1%;
      --accent-foreground: 60 9.1% 97.8%;
      --destructive: 0 72.2% 50.6%;
      --destructive-foreground: 60 9.1% 97.8%;
      --ring: 20.5 90.2% 48.2%;
      --sidebar-background: 20 14.3% 4.1%;
      --sidebar-foreground: 60 9.1% 97.8%;
      --sidebar-primary: 20.5 90.2% 48.2%;
      --sidebar-primary-foreground: 60 9.1% 97.8%;
      --sidebar-accent: 12 6.5% 15.1%;
      --sidebar-accent-foreground: 60 9.1% 97.8%;
      --sidebar-border: 12 6.5% 15.1%;
      --sidebar-ring: 20.5 90.2% 48.2%;
    }
  }
}

@layer base {
  @font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter.ttf') format('truetype');
  }

  @font-face {
    font-family: 'GeistVF';
    src: url('./fonts/GeistVF.woff');
  }

  @font-face {
    font-family: 'GeistVF-Mono';
    src: url('./fonts/GeistMonoVF.woff');
  }
  :root {
    @apply font-sans;
  }
  * {
    @apply border-border;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    @apply bg-card text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }

  @media (pointer: fine) {
    ::-webkit-scrollbar,
    ::-webkit-scrollbar-corner {
      color: hsl(var(--primary));
      background: hsl(var(--accent) / 0.08);
      background-color: hsl(var(--foreground) / 0.04);
      width: 12px;
      height: 12px;
    }
    ::-webkit-scrollbar-button {
      height: 0;
      width: 0;
    }

    ::-webkit-scrollbar-thumb {
      background: content-box currentColor;
      border: 2px solid transparent;
      border-radius: 8px;
      color: hsl(var(--muted-foreground));
      min-height: 48px;
      min-width: 48px;
    }

    @supports not (selector(::-webkit-scrollbar)) {
      * {
        scrollbar-color: hsl(var(--muted-foreground)) transparent;
        scrollbar-gutter: auto;
        scrollbar-width: thin;
        border-radius: 8px;
      }
    }
  }

  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  select::-webkit-scrollbar {
    display: none;
  }
}
